.App {   text-align: center;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
}
h3{
 background:#f5f5f5;
 margin: 0; 
}
.big-container{
  background:#f5f5f5;
}
.flex-container{
  /* background-color:blue; */
  padding-top:15px;
  display:flex;
  align-items: center;
  justify-content:center;
}

.buton-tazz{
  background:#fc1e22 !important;
  color: white !important;
}

.button-foodpanda{
  background: #d70f64 !important;
  color: white !important;
}

.button-glovo{
  background: #ffc244 !important;
  color: white !important;
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-bottom: 10px;
  background: #f5f5f5

}

.buton-mcd{
  background: #ffff00 !important;
  color: red !important;
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}

.buton-kfc{
  background: red !important;

}

.buton-tot{
  margin-bottom: 5px !important;
}

.buton-bk{
  margin-left: 5px !important;
  background: #ff8532 !important;
  color: white !important
}